[access "refs/*"]
	owner = group mptcp_net-next-admin
	owner = group user/Matthieu Baerts (matttbe)
[access "refs/heads/*"]
	read = group Registered Users
	create = group Project Owners
	push = +force group Project Owners
	pushMerge = group Project Owners
	editTopicName = +force group Project Owners
	editAssignee = group Project Owners
	forgeAuthor = group Registered Users
	forgeCommitter = group Project Owners
	forgeServerAsCommitter = group Project Owners
[access "refs/tags/*"]
	push = +force group Project Owners
	push = group mptcp_net-next-devs
	create = group Project Owners
	createTag = group Project Owners
	createSignedTag = group Project Owners
	forgeAuthor = group Project Owners
	forgeCommitter = group Project Owners
[access "refs/meta/config"]
	push = group Project Owners
	submit = group Project Owners
	label-Code-Review = -2..+2 group Project Owners
	label-Verified = -1..+1 group Project Owners
[receive]
	requireSignedOffBy = false
	requireContributorAgreement = false
	requireChangeId = true
	createNewChangeForAllNotInTarget = false
[submit]
	action = inherit
[label "Code-Review"]
	function = MaxWithBlock
	defaultValue = 0
	copyMinScore = true
	copyAllScoresOnTrivialRebase = true
	value = -2 This shall not be merged
	value = -1 I would prefer this is not merged as is
	value = 0 No score
	value = +1 Looks good to me, but someone else must approve
	value = +2 Looks good to me, approved
[label "Verified"]
	function = NoBlock
	value = -1 Fails
	value = 0 No score
	value = +1 Verified
	copyAllScoresIfNoCodeChange = true
	defaultValue = 0
[access "refs/heads/sandbox/${username}/*"]
	create = group mptcp_net-next-devs
	forgeAuthor = group mptcp_net-next-devs
	forgeCommitter = group mptcp_net-next-devs
	push = +force group mptcp_net-next-devs
	pushMerge = group mptcp_net-next-devs
[access "refs/top-bases/*"]
	create = group Project Owners
	push = +force group Project Owners
	pushMerge = group Project Owners
[access "refs/heads/master"]
	forgeAuthor = group mptcp_net-next-devs
	forgeCommitter = group mptcp_net-next-devs
	forgeServerAsCommitter = group mptcp_net-next-devs
	push = group mptcp_net-next-devs
	pushMerge = group mptcp_net-next-devs
[access "refs/for/*"]
	read = group Registered Users
	push = group Registered Users
	label-Code-Review = -2..+2 group mptcp_net-next-devs
	label-Code-Review = -1..+1 group Registered Users
	label-Verified = -1..+1 group mptcp_net-next-qa
	rebase = group mptcp_net-next-devs
	removeReviewer = group Project Owners
	submit = group mptcp_net-next-devs
[access "^refs/(heads|top-bases)/(t/.+|net-next)$"]
	forgeAuthor = group mptcp_net-next-ci
	forgeCommitter = group mptcp_net-next-ci
	push = group mptcp_net-next-ci
	pushMerge = group mptcp_net-next-ci
[notify "team"]
	email = mptcp@lists.01.org
	type = new_changes
	header = to
[reviewer]
	enableByEmail = true
[access "refs/heads/export"]
	create = group mptcp_net-next-ci
	forgeAuthor = group mptcp_net-next-ci
	forgeCommitter = group mptcp_net-next-ci
	forgeServerAsCommitter = group mptcp_net-next-ci
	push = +force group mptcp_net-next-ci
	pushMerge = group mptcp_net-next-ci
